/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    scroll-behavior: smooth;
    
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
nav.navbar .navbar-brand{
    padding: 5px 0 5px 40px;
}

nav .navbar-nav a{
    margin: 0 5px;
    width: 150px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

nav .navbar-nav a:hover{
    background-color: #fff;
    color: #5e454b;
    font-weight: 600;
}

.bg-transparant {
    background: rgba(0,0,0,.3) !important;
    transition :.7s ease;
    color: white !important;
}

.bg-transparant.nav-scroll{
    background-color: #fff !important;
}

.bg-transparant.nav-scroll .navbar-nav a{
    color: #5E454B;
}

.bg-transparant.nav-scroll .navbar-nav a:hover{
    background-color: #5e454b;
    color: #fff;
    font-weight: 600;
}

/* BG CHOCOLATE */
.bg-chocolate {
    background-color: #5e454b;
}

.text-chocolate {
    color: #5e454b;
}

/* Responsive Navbar*/
@media screen and (min-width:300px) and (max-width: 575px){
    nav.navbar .navbar-brand{
        padding: 5px 0 5px 20px;
    }

    nav .navbar-nav a{
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width: 700px){
    nav.navbar .navbar-brand{
        padding: 0px 0 0px 10px;
    }

    nav .navbar-nav a{
        text-align: center;
        width: 100px;
        font-size: 12px;
        margin: 0 0;
    }
}

@media screen and (min-width:701px) and (max-width: 900px){
    nav.navbar .navbar-brand{
        padding: 0px 0 0px 20px;
    }

    nav .navbar-nav a{
        width: 120px;
        font-size: 16px;
        margin: 0 0;
    }
}
    
/*Jumbotron*/
.first-content{
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #f3f0d7;
    background-image: linear-gradient(180deg, rgba(69,43,23,0) 0%, rgba(69,43,23,0.6558823358444941) 66%, rgba(69,43,23,1) 100%), url(../img/second-banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%);

}

.first-content .content{
    width: 100%;
    height: 50%;
    filter: none !important;
}


.first-content .content .head-word p{
    text-align: center;
    font-size: 40px;
    color: #F3F0D7;
    animation: fade 2s;
    font-weight: 500;
}

.first-content .content .head-word span{
    font-weight: 700;  
}

.first-content .content .word p{
    text-align: center;
    color: #F3F0D7;
    font-size: 24px;
    animation: fade 2s;
}

.first-content .content .arrow{
    text-align: center;
    margin-top: 30px;
}

.first-content .content .arrow i{
    font-size: 30px;
    font-display: block;
}

@keyframes fade{
    0%{
        opacity: .3;
    }

    100%{
        opacity: 1;
    }
}

/*Responsive Jumbotron*/

/* 300-570 Width */
@media screen and (min-width:300px) and (max-width:570px){
    .first-content{
        align-items: center;
        background-size: 100% 100%;
    }

    .first-content .content{
        margin-top: 100px;
    }

    .first-content .content .head-word p{
        font-size: 24px;
    }

    .first-content .content .word{
        padding: 0 10px;
    }

    .first-content .content .word p{
        font-size: 14px;
    }

    .first-content .content .arrow i{
        font-size: 25px;
    }
}

/* 571-800 Width */

@media screen and (min-width:571px) and (max-width:800px){

    .first-content .content .head-word p{
        font-size: 28px;
    }

    .first-content .content .word p{
        font-size: 18px;
    }

    .first-content .content .arrow i{
        font-size: 28px;
    }
}


/* Main Content */

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main .left-content{
    text-align: center;
    width: 50%;
    height: 100%;

}

.main .left-content .image{
    margin: 0 auto;
    width: 80%;   
}

.main .left-content img{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 80%;
    filter: brightness(80%);
}

.main .right-content{
    width: 40%;
}

.main .right-content{
    width: 60%;
    padding-left: 60px;
    color: #5E454B;
}

.main .right-content .text h1{
    font-size: 80px;
    font-weight: 700;
}

.main .right-content .text p{
    font-size: 25px;
}

/*Scroll Indicator*/
.scroll{
    text-align: center;
    margin-top: 50px;
}

.scroll .head h1{
    font-size: 22px;
    background-color: #5E454B;
    color: #fff;
    display: inline;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}

.indicator{
    padding-top: 10px;
}

.indicator i{
    font-size: 40px;
    margin-top: 15px;
}

/*Main Content Responsive*/
@media screen and (min-width:300px) and (max-width: 800px){

    .main{
        flex-wrap: wrap;
    }

    .main .left-content{
        text-align: center;
        width: 100%;
        height: 100%; 
    }

    .main .left-content .image{
        width: 90%;
    }

    .main .left-content img{
        width: 100%;
        height: 300px;
    }

    .main .right-content{
        width: 100%;
        padding: 20px;
        color: #5E454B;
        text-align: center;
    }

    .main .right-content .text h1{
        font-size: 60px;
    }

    .main .right-content .text p{
        font-size: 20px;
    }

}



/* Second Main Content */
.second-content{
    padding-top: 80px;
    background-color: #fff;
    height: 800px;
}

.nav,.tab-content{
    width: 90%;
    margin: auto;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link{
    color: #5e454b;
    border-radius: 5px;
}


.nav-tabs .nav-link:hover{
    color: #5e454b !important;
    border-top: 1px solid #5e454b !important;
    border-left: 1px solid #5e454b !important;
    border-right: 1px solid #5e454b !important;
}


.nav-tabs .nav-link.active {
    background-color: #5e454b !important;
    color: #fff !important;
    outline: none;
    font-weight: 600;
}

.nav-tabs button{
    text-align: center;
    width: 25%;
    font-size: 25px;
}

.tab-pane{
    border-top: 1px solid #5e454b !important;
    padding-top: 30px;
}


/* Responsive Second Main Content */
@media screen and (min-width:300px) and (max-width: 800px){
    .second-content .nav-tabs{
        width: 100%;
    } 

    .second-content .nav-tabs button{
        font-size: 16px;
        width: 50%;
    }  

    .nav,.tab-content{
        width: 100%;
    }
}




/* Second Main Content | First Content */
.tab-pane:nth-child(1) p{
    font-size: 24px;
    color: #5e454b;
}

.tab-pane:nth-child(1) span{
    font-style: italic;
}


.tab-pane:nth-child(1) p:nth-child(4){
    padding-top: 50px;
}

.tab-pane:nth-child(1) .last-text{
    display: flex;
}

.tab-pane:nth-child(1) ul{
    width: 70%;
}

.tab-pane:nth-child(1) ul li{
    font-size: 24px;
    color: #5e454b;
}

.tab-pane:nth-child(1) .image-text{
    width: 30%;
    text-align: center;
}

.tab-pane:nth-child(1) .image-text img{
    width: 50%;
    height: 100%;
    transform: rotate(-30deg);
}


/* Responsive Second Main Content | First Content*/
@media screen and (min-width:300px) and (max-width: 800px){
    .tab-pane:nth-child(1) p{
        font-size: 16px;
        color: #5e454b;
        padding: 0 20px;
    }

    .tab-pane:nth-child(1) p:nth-child(4){
        padding-top: 30px;
    }

    .tab-pane:nth-child(1) ul li{
        font-size: 16px;
        color: #5e454b;
    }

    .tab-pane:nth-child(1) .image-text{
        width: 30%;
    }

    .tab-pane:nth-child(1) .image-text img{
        width: 65px;
        height: 65px;
        transform: rotate(-30deg);
    }
}





/* Second Main Content | Second Content */
.tab-pane:nth-child(2) p{
    font-size: 30px;
    color: #5e454b;
    text-align: center;
}

.tab-pane:nth-child(2) .images{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;;
}

.tab-pane:nth-child(2) .image{
    width: 175px;
    height: 275px;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-sizing: border-box;
}

.tab-pane:nth-child(2) .image img{
    width: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tab-pane:nth-child(2) .image p{
    font-size: 22px;
    padding: 10px;
}

.tab-pane:nth-child(2) .carousel-item i{
    font-size: 40px;
}

.tab-pane:nth-child(2) .carousel-control-next,
.tab-pane:nth-child(2) .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    height: 400px;
}

.tab-pane:nth-child(2) .text{
    margin-top: 50px;
}

.tab-pane:nth-child(2) .text p{
    font-size: 24px;
}

/*Responsive Second Main Content | Second Content*/
@media screen and (min-width:300px) and (max-width: 800px){

    .tab-pane:nth-child(2) p{
        font-size: 16px;
    }

    .tab-pane:nth-child(2) .carousel-item i{
        font-size: 20px;
    }

    .tab-pane:nth-child(2) .images{
        width: 80%;
    }

    .tab-pane:nth-child(2) .image{
        width: 100px;
        height: 175px;
    }

    .tab-pane:nth-child(2) .image img{
        width: 90px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .tab-pane:nth-child(2) .image p{
        font-size: 12px;
        padding: 10px;
    }

    .tab-pane:nth-child(2) .carousel-control-next,
    .tab-pane:nth-child(2) .carousel-control-prev /*, .carousel-indicators */ {
        visibility: hidden;
    }

    .tab-pane:nth-child(2) .text p{
        font-size: 16px;
    }
}


/* Main Second Main Content | Content */
.tab-pane:nth-child(3) .text{
    padding-top: 20px;
}

.tab-pane:nth-child(3) p{
    font-size: 22px;
    color: #5e454b;
}


.tab-pane:nth-child(3) .images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}


.tab-pane:nth-child(3) .image{
    width: 180px;
    height: 330px;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-sizing: border-box;
}

.tab-pane:nth-child(3) .image img{
    width: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tab-pane:nth-child(3) .image p{
    font-size: 22px;
    padding: 10px;
}

/* Responsive Second Main Content | Third Content */
@media screen and (min-width:300px) and (max-width: 800px){
    .tab-pane:nth-child(3) .text{
        padding-top: 10px;
    }

    .tab-pane:nth-child(3) p{
        font-size: 16px;
        padding: 0 20px;
    }

    .tab-pane:nth-child(3) .image{
        width: 100px;
        height: 175px;
    }

    .tab-pane:nth-child(3) .image img{
        width: 90px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .tab-pane:nth-child(3) .image p{
        font-size: 12px;
        padding: 5px;
    }
}

/* SCROLL ANIMATION */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
/* SCROLL ANIMATION */

/* Second Main Content | Fourth Content*/
.tab-pane:nth-child(4) .text{
    padding-top: 20px;
}

.tab-pane:nth-child(4) p{
    font-size: 22px;
    color: #5e454b;
}


.tab-pane:nth-child(4) .images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}


.tab-pane:nth-child(4) .image{
    width: 180px;
    height: 350px;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-sizing: border-box;
}

.tab-pane:nth-child(4) .image img{
    width: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tab-pane:nth-child(4) .image p{
    font-size: 22px;
    padding: 10px;
}

.tab-pane:nth-child(4) .bottom-text{
    text-align: center;
    padding-top: 50px;
}

.tab-pane:nth-child(4) .bottom-text img{
    width: 100px;
}


/* Responsive Second Main Content | Fourth Content */
@media screen and (min-width:300px) and (max-width: 800px){
    .tab-pane:nth-child(4) .text{
        padding: 10px 10px 0;
    }

    .tab-pane:nth-child(4) p{
        font-size: 16px;
    }

    .tab-pane:nth-child(4) .image{
        width: 100px;
        height: 200px;
    }

    .tab-pane:nth-child(4) .image img{
        width: 90px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .tab-pane:nth-child(4) .image p{
        font-size: 12px;
        padding: 5px;
    }

    .tab-pane:nth-child(4) .bottom-text{
        padding-top: 20px;
    }

    .tab-pane:nth-child(4) .bottom-text p{
        font-size: 12px;
    }

    .tab-pane:nth-child(4) .bottom-text img{
        width: 90px;
    }
}





/* FAQ Content */
.faq-content{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    color: #5e454b !important;
}

.faq-content p{
    text-align: center;
    font-size: 30px;
}

.faq-content .accordion-item button{
    color: #5e454b;
    font-size: 20px;
}

.accordion-button:not(.collapsed){
    background-color: #5e454b !important;
    color: #fff !important;
}

.accordion-button:focus{
    border-color: transparent;
    box-shadow: none;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%235e454b'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-body{
    padding: 50px;
}


/* Responsive FAQ Section */
@media screen and (min-width:300px) and (max-width: 800px){
    .faq-content p{
        font-size: 18px;
    }

    .faq-content .accordion-item button{
        font-size: 14px;
    }
}



/*Statistik Section*/
#statistics{
    padding-top: 100px;
}
.worldwide {
    color: #5E454B;
}

.worldwide .image img{
    width: inherit;
    height: inherit;
}

.indonesia {
    color: #5E454B;
}

/*.indonesia .image img{
    width: 100%;
    height: 100%;
}
*/

.case_result_provinsi {
    overflow-y: scroll;
    height: 550px;
}

/* MAP COVID */
#mapid, #mapprovinsi {
    height: 35vw;
}

/* POP UP MAP */
.popUp {
    width: auto;
}

/* loader */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg-body);
    font-size: 10rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.loading .loader {
    visibility: visible;
    opacity: 1;
}
/* end loader */

form input {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 1.5px 2px 2.5px rgba(0, 0, 0, 0.705);
    margin-right: 5px;
    cursor: text;
    transition: .4s;
    background-color: #5E454B;
    color: #fff;
}

form{
    color: #5E454B;
}

form button {
    border-radius: 10px;
    padding: 10px;
    background-color: #5E454B;
    border: none;
    box-shadow: 1.5px 2px 2.5px rgba(0, 0, 0, 0.705);
    transition: .4s;
    cursor: pointer;
    color: #fff !important;
}

form input:hover, form button:hover {
    position: relative;
    top: 2px;
    box-shadow: 1px 1.1px 1.2px rgba(0, 0, 0, 0.705);
}

form input:focus {
    outline: none;
    border: 0;
}

form i.virus-loader {
    font-size: 5em;
}

#match-list {
    width: 300px;
    margin: auto;
    cursor: pointer;
    /* SEJAJARIN INPUT DAN SUGESTION */
}

.toggleHidden {
    display: none !important;
}

.case-provinsi h4{
    color: #5E454B;
}

input#searchProvinsi {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 1.5px 2px 2.5px rgba(0, 0, 0, 0.705);
    margin-right: 5px;
    cursor: text;
    transition: .4s;
    background-color: #5E454B;
    color: #fff;
}

input#searchProvinsi:hover {
    position: relative;
    top: 2px;
    box-shadow: 1px 1.1px 1.2px rgba(0, 0, 0, 0.705);
}

input#searchProvinsi:focus {
    outline: none;
    border: 0;
}

.card-header h5{
    color: #5E454B;
}


#cardCountry {
    box-shadow: 1px 8px 7px rgba(0, 0, 0, 0.705);
    margin: auto;
    width: 30%;
}

#cardCountry img {
    width: 100%;
    height: 200px;
}

@media screen and (min-width:300px) and (max-width: 575px){
    input#searchProvinsi{
        width: 90%;
    }
}

@media screen and (max-width:576px) {
    #cardCountry {
        width: 100%;
    }

    form input {
        width: 60%;
    }

    #match-list {
        width: 100%;
        margin: auto;
        cursor: pointer;
        /* SEJAJARIN INPUT DAN SUGESTION */
    }

    #mapid, #mapprovinsi {
        height: 100vw;
    }
}

@media screen and (max-width: 768px) {
    #cardCountry { 
        width: 90%;
    }

    #match-list {
        width: 70%;
        margin: auto;
        cursor: pointer;
        /* SEJAJARIN INPUT DAN SUGESTION */
    }

    #mapid, #mapprovinsi {
        height: 90vw;
    }

}

@media screen and (max-width: 992px) {
    #cardCountry {
        width: 80%;
    }

    #match-list {
        width: 45%;
        margin: auto;
        cursor: pointer;
        /* SEJAJARIN INPUT DAN SUGESTION */
    }

}

/* CHART STYLING */
.chart-container-total-world {
    margin: auto !important;
    overflow-x: hidden;
}


/* SEARCH BTN HOSPITAL */
#btnHospital {
    background-color: #5e454b;
    border: none;
    border-radius: 15px;
}

#faskes {
    color: #5e454b;
}

option {
    color: #5e454b;
}


/*Copyright*/
.copyright{
    width: 100%;
    background-color: #5e454b;
    color: #fff;
    text-align: center;
    margin-bottom: -16px;
    margin-top: 50px;
}

.copyright p{
    padding-top: 5px;
    font-size: 16px;
    margin-bottom: 0 !important;
}

.copyright a{
    color: #fff;
}

.copyright a{
    text-decoration: none;
}

.copyright a:hover{
    text-decoration: underline;
}
